
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/images/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden; 
    font-family: 'Source Sans Pro', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 60px;
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}
